<div class="bg-light container rounded border mb-2">
  <h2 class="border-bottom m-2">
    Details
  </h2>
  <div class="row m-1">
    <div class="col-md-3 ">
      Bio:
    </div>
    <div class="col-md-9">
      {{user.information.bio}}
    </div>
  </div>
  <div class="row m-1">
    <div class="col-md-3">
      Location:
    </div>
    <div class="col-md-9">
      {{user.information.location}}
    </div>
  </div>
  <div class="row m-1 pb-2">
    <div class="col-md-3">
      Website:
    </div>
    <div class="col-md-9">
      {{user.information.website}}
    </div>
  </div>
</div>
