<div class="container bg-light border rounded mb-2">
  <h2 class="border-bottom m-1">
    Followers
  </h2>
  <div class="row">
    <div class="col-md-3 border-bottom border-right">
      <app-tinyprofile></app-tinyprofile>
    </div>
    <div class="col-md-3 border-bottom border-right">
      <app-tinyprofile></app-tinyprofile>
    </div>
    <div class="col-md-3 border-bottom border-right">
      <app-tinyprofile></app-tinyprofile>
    </div>
    <div class="col-md-3 border-bottom">
      <app-tinyprofile></app-tinyprofile>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 border-bottom border-right">
      <app-tinyprofile></app-tinyprofile>
    </div>
    <div class="col-md-3 border-bottom border-right">
      <app-tinyprofile></app-tinyprofile>
    </div>
    <div class="col-md-3 border-bottom border-right">
      <app-tinyprofile></app-tinyprofile>
    </div>
    <div class="col-md-3 border-bottom">
      <app-tinyprofile></app-tinyprofile>
    </div>
  </div>
</div>
